<modal #modalTranslations class="modal-translations">
    <modal-content>
            <div class="row" *ngFor="let translation of translations">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-col-form-label" for="group">Label</label>
                        <input type="text" class="form-control" [(ngModel)]="translation.label">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-col-form-label" for="group">PT</label>
                        <input type="text" class="form-control" [(ngModel)]="translation.portuguese">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-col-form-label" for="group">EN</label>
                        <input type="text" class="form-control" [(ngModel)]="translation.english">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-col-form-label" for="group">ES</label>
                        <input type="text" class="form-control" [(ngModel)]="translation.spanish">
                    </div>
                </div>

            </div>
            <button type="button" class="btn btn-secondary" (click)="modalTranslations.close()">Cancelar</button>
    </modal-content>
    <modal-footer>
        
    </modal-footer>
</modal>