    <div class="table-responsive" style="max-height: 300px; margin-bottom: 50px">
        <table class="table table-bordered table-striped table-sm mt-4 ">
            <thead>
                <tr>
                    <th style="min-width: 120px;">Propriedade</th>
                    <th style="min-width: 120px;">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let property of field | keyvalue: originalOrder" style="cursor: pointer;"
                (click)="onSelectProperty(property)" [class.selected-row]="propertySelected && propertySelected == property">
                    <td>{{property.key}}</td>
                    <td *ngIf="!isSpecial(property.key)">
                        <input class="form-control" *ngIf="getType(property) == 'string'" type="text" [value]="property.value" (change)="changeValue(property, $event)" [attr.disabled]="property.key == 'type' ? true : null" >
                        <input class="form-control" *ngIf="getType(property) == 'number'" type="number" [value]="property.value" (change)="changeValue(property, $event)" [attr.disabled]="property.key == 'type' ? true : null" >
                    
                        <select class="form-control" *ngIf="getType(property) == 'boolean'" [value]="property.value"  (change)="changeValue(property, $event)">
                            <option [value]="true">True</option>
                            <option [value]="false">False</option>
                        </select>
                    
                    </td>
                    <td *ngIf="isSpecial(property.key)" style="height: 40px; padding-left: 20px;">
                        <span>
                            {{property.key}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>