<div style="max-height: 300px; margin-bottom: 50px">
    <div class="table-responsive" style="max-height: 250px; margin-bottom: 5px">
        <table class="table table-bordered table-striped table-sm mt-4 ">
            <thead>
                <tr>
                    <th style="min-width: 120px;">label</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let child of children" style="cursor: pointer;" (click)="modalChildren.open()">
                    <td>
                        <a (click)="modalChildren.open()" class="action-link">
                            <i class="fa fa-pencil fa" style="margin-right: 5px;"></i>
                        </a>
                        {{child.fieldName}} 
                    </td>
                    <modal-children #modalChildren [child]="child"></modal-children>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button (click)="addChild()">Adicionar Child</button>
        <button >Traduções</button>
    </div>
    
</div>
