<div class="container">
    <app-search-json (onFileUpload)="onFileUpload($event)"> </app-search-json>

    <div class="row">
        <div class="table-responsive" *ngIf="file" style="max-height: 300px; margin-bottom: 50px">
            <table class="table table-bordered table-striped table-sm mt-4 ">
                <thead>
                    <tr>
                        <th style="min-width: 120px;">Nome</th>
                        <th style="min-width: 120px;">Tipo</th>
                        <th style="text-align: center;">Ações</th>
                    </tr>
                </thead>
                <tbody *ngIf="file">
                    <tr *ngFor="let field of file.fields; let i = index" style="cursor: pointer;" 
                    (click)="selectField(field)"
                    (dblclick)="modalNewField.open()"
                        [class.selected-row]="fieldSelected == field">
                        <td>{{field.fieldName}}</td>
                        <td>{{field['type']}}</td>
                        <td align="center">
                            <a (click)="removeField(field)" class="action-link" data-toggle="tooltip" title="Excluir">
                                <i class="fa fa-trash fa-2x" style="color: #f86c6b;"></i>
                            </a>
                        </td>
                        <modal-new-field #modalNewField (confirm)="addField(i, $event)"></modal-new-field>
                    </tr>
                    <tr *ngIf="file.fields.length == 0">
                        <td colspan="3" align="center">
                            Nenhum campo neste arquivo
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row"  *ngIf="fieldSelected">
        <div class="col-6" style="padding: 5px;">
            <field-properties [field]="fieldSelected" (selectProperty)="selectProperty($event)"></field-properties>
        </div>
        <div class="col-6" style="padding: 5px;" *ngIf="propertySelected && propertySelected.key == 'items'">
            <dropdown-items [items]="fieldSelected.items"></dropdown-items>
        </div>
        <div class="col-6" style="padding: 5px;" *ngIf="propertySelected && propertySelected.key == 'triggers'">
            <triggers [triggers]="fieldSelected.triggers"></triggers>
        </div>
        <div class="col-6" style="padding: 5px;" *ngIf="propertySelected && propertySelected.key == 'children'">
            <children [children]="fieldSelected.children"></children>
        </div>
    </div>
    <div class="row" *ngIf="fieldSelected">
        <a class="btn btn-success" (click)="generateJson()" >Salvar</a>
        <a *ngIf="downloadJsonHref" class="btn btn-success" id="download" title="Download JSON" [href]="downloadJsonHref"
            download="download.json">Download</a>
    </div>

</div>