<div class="dropdown-items">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm mt-4 ">
            <thead>
                <tr>
                    <th>label</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td><input class="form-control" type="text" [value]="item" (change)="changeItem(item, $event)"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button (click)="items.push('')">Adicionar item</button>
        <button (click)="modalTranslations.open()">Traduções</button>
        <modal-translations #modalTranslations [labels]="items"></modal-translations>
    </div>
</div>
