input {
    width: 100%;
}

.dropdown-items {
    max-height: 300px; 
    margin-bottom: 50px
}

.table-responsive {
    max-height: 250px; margin-bottom: 5px
}

th {
    min-width: 120px;
}

tbody tr {
    cursor: pointer;
}
