.label {
  font-family: 'Open Sans', sans-serif;
  font-size: larger;
  color: #1a2129;
}

.modal-dialog {
  margin-top: 200px !important;
  color: black
}

.btn-success {
  color: white !important;
}

.selected-row {
  background-color: #007ad9 !important;
  color: white;
}

.selected-row i {
  color: white;
}