<modal #modalNewField>
    <modal-content>
        <form [formGroup]="form" (submit)="onConfirm()" #ngForm="ngForm">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label class="form-col-form-label" for="name">Nome do Campo</label>
                        <input type="text" formControlName="name" class="form-control" id="name">
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="type">Tipo do Campo</label>
                        <select id="type" formControlName="type" class="form-control">
                            <option [ngValue]="null">Selecione</option>
                            <option [ngValue]="'text'">Text</option>
                            <option [ngValue]="'dropdown'">dropdown</option>
                            <option [ngValue]="'dropdownwithchildren'">dropdownwithchildren</option>
                            <option [ngValue]="'boolwithchildren'">boolwithchildren</option>
                            <option [ngValue]="'bool'">bool</option>
                            <option [ngValue]="'slide'">slide</option>
                            <option [ngValue]="'number'">number</option>
                            <option [ngValue]="'checkbox'">checkbox</option>
                            <option [ngValue]="'checklist'">checklist</option>
                            <option [ngValue]="'image'">image</option>
                            <option [ngValue]="'signature'">signature</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </modal-content>
    <modal-footer>
        <button type="button" class="btn btn-danger" (click)="onConfirm()">Sim</button>
        <button type="button" class="btn btn-secondary" (click)="modalNewField.close()">Não</button>
    </modal-footer>
</modal>